.not-found {
  .row 
  {
     margin-top: 10%;
  }
  .container {
    position: relative;
    top: 0;
    left: 0;
    min-height: 475px;
    text-align: center;

  }

  .centered_404 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2%);
    a 
    {
    display: inline-block;
    padding: 8px 12px;
    font-weight: 600;
    line-height: 1.4;
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    border: 2px solid $front_green;
    border-radius: 3px;
    cursor: pointer;
    color: $front_green;
    margin-bottom: 30px;
    }
    h1 
    {
      margin-bottom: 30px;
    }
    p 
    {
      margin: 30px;
      font-size: 18px;
    }
  }

  &:before {
    content : " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
   
  }
}

.error404 
{
  .hamburger  
  {
    h1
    {
      color: $grey1;
    }
  }
  .hamburger
  {
    span 
    {
      background: $grey1;
      &:after,
      &:before
      {
        background: $grey1;
      }
    }
  }
}

.error404 section#main {
    min-height: auto !important;
}
