.main-bg-content {
	margin:0px auto;
	max-width: 1170px;
    min-width: 1170px;
    overflow: hidden; 
    margin-top:-355px;
    padding: 0;
}
.front-background {
	position: relative;
    width: 100%;
    min-height: 1070px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.front-background-title {
    height: auto;
    width: 100%;
	h1 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    width: 100%;
    font-size: 4.7vw;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-top: 16%;
    text-shadow: 3px 4px 5px $grey1;
	}
}
.leftside-content {
	margin-right: -30px;
    min-width: 610px;
    max-width: 610px;
}
.left-side-bgimage-top {
	position: relative;
    width: 100%;
    max-height: 580px;
    overflow: hidden;
    img {
    width: 100%;
    max-width: 100%; 
    transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
    }
    .wpb_single_image .vc_figure
    {
        width: 100%;
    }

    .wpb_single_image .vc_single_image-wrapper

    {
        width: 100%;
    }
}
.left-side-bgtext-top {
	h2 {
    top: 28%;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    color: $white;
    font-size: 1.8vw;
    margin: auto;
    bottom: 0;
    line-height: 1.2;
    right: 0;
    font-weight: 300;
	}
    a 
    { 
    color: $white;
    position: relative;
    text-decoration: none;
        &:hover 
        {
            font-weight: 700;   
            text-decoration: none;
        }
        &:after
        {
            content: " ";
            position: static;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 3px auto;
            width: 6%;
            height: 2px;
            background: $white;
            text-align: center;
            font-weight: 700;
            display: block;
        }
    }
}
.left-side-bgimage-bottom {
	padding-left: 13px !important;
    padding-right: 0px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.left-side-img-bottom {
	min-height: 260px;
    min-width: 287px;
    overflow: hidden;
    position: relative;
    img {
    width: 100%;
    position: absolute;
    min-height: 100%;
    min-width: 330px;
    height: auto;
    max-width: 100%; 
    transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
    }
}
.left-side-bgtext-bottom {
	width: 49% !important;
	padding-left: 0px !important;
    padding-right: 0px !important;
    background: $front_green;
    h2 {
   	text-align: center;
    color: $white;
    font-size: 1.8vw;
    left: 0;
    top: 32%;
    right: 0;
    bottom: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    line-height: 1.2;
    font-weight: 300;
    }
    a 
    { 
    color: $white;
    text-decoration: none;
    position: relative;
        &:hover 
        {
            font-weight: 700;   
            text-decoration: none;
        }
        &:after
        {
            content: " ";
            position: static;
            left: 20%;
            bottom: 0;
            right: 0;
            margin: 2px auto;
            width: 15%;
            height: 2px;
            background: $white;
            text-align: center;
            font-weight: 700;
            display: block;
        }
    }
}
.arrow_left_down {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid $front_green;
    float: left;
    position: absolute;
    top: 6vw;
    right: 0px;
}
.arrow_right_up {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid #4b4b4b;
    float: left;
    position: absolute;
    top: 8vw;
    right: 0px;
}
.left_down_arrow_responsive {
    display: none;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 35px solid $front_green;
    float: left;
    position: absolute;
    top: 6vw;
    right: 0px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.right_up_arrow_responsive {
    display: none;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 35px solid #4b4b4b;
    float: left;
    position: absolute;
    top: 8vw;
    right: 0px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.right-side-bgimage-top {
    padding-left: 0px !important;
    padding-right: 0px !important;
	width: 100%;
	overflow: hidden;
    height: auto;
}
.right-side-img {
    position: relative;
    overflow: hidden;
    min-height: 355px;
    img {
        width: 100%;
        position: absolute;
        min-width: 300px;
        height: auto;
        max-width: 100%; 
        transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
    }
}
.right-side-bgtext-top {
	max-width: 290px;
    background: #4b4b4b;
	h2 {
    text-align: center;
    color: $white;
    font-size: 1.8vw;
    font-weight: 300;
    margin-left: 10px;
    text-transform: uppercase;
	}
	p {
	text-align: center;
    color:$white;
    font-size: 16px;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
	}
    a 
    { 
    color: $white;
    text-decoration: none;
    position: relative;
        &:hover 
        {
            font-weight: 700;   
            text-decoration: none;
            
        }
        &:after
        {
            content: " ";
            position: static;
            left: 20%;
            bottom: 0px;
            right: 0;
            margin: 0px auto;
            width: 15%;
            height: 2px;
            background: $white;
            text-align: center;
            font-weight: 700;
            display: block;
        }
    }
}

.rightside-content {
	min-width: 610px;
    max-width: 610px;
}
.right-side-bgimage-bottom {
	position: relative;
    overflow: hidden;
    max-height: 484px;
    img {
    max-width: 100%; 
    width:100%;
    transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
    }
    .wpb_single_image .vc_figure
    {
        width: 100%;
    }

    .wpb_single_image .vc_single_image-wrapper

    {
        width: 100%;
    }
}
.right-side-bgtext-bottom {
	position: absolute;
    text-align: center;
    top: 68%;
    margin: auto;
    width: 100%;
	h2 {
    text-align: center;
    text-transform: uppercase;
    color: $front_green;
    font-size: 1.8vw;
    line-height: 0.9;
    font-weight: 300;
    letter-spacing: 2px;
	}
    a 
    { 
    color:  $front_green;
    text-decoration: none;
    position: relative;
        &:hover 
        {
            font-weight: 700;   
            text-decoration: none;
        }
        &:after
        {
            content: " ";
            position: static;
            left: 20%;
            bottom: 0px;
            right: 0;
            margin: 7px auto;
            width: 6%;
            height: 2px;
            background: $front_green;
            text-align: center;
            font-weight: 700;
            display: block;
        }
    }
}
.center-imagewith-text {
	width: 100%;
    height: auto;
}
.center-img {
	max-height: 750px;
    width: 100%;
    min-height: 750px;
    img
    {
        width: 100%;
        height: auto;
        left: 2.7vw;
        top: 2vw;
        position: relative;
    }
}
.center-img-text-title {
	position: absolute;
    top: 11vw;
	h2 {
    color: $grey1;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.87vw;
    line-height: 1.1;
    position: relative;
    top: 2.5vw;
    left: 2vw;
    right: 0;
    bottom: 0;
	}
}
.center-img-text-description {
	position: absolute;
    top: 18vw;
    width: 20vw;
	p {
	text-align: center;
	font-weight: 300;
	font-size: 17px;
    color: $grey1;
    position: relative;
    left: 2vw;
    top: 1vh;
    right: 0;
    bottom: 0;
	}
}
.center-image-button {
	position: absolute;
    bottom: 19vh;
    left: 19vh;
	color: $front_green;
    a {
    color: $white !important;
    background-color: $front_green !important;
    font-size: 15px !important;
    padding: 4px 20px !important;
    text-align: center !important;
    border: 1px solid transparent !important;
    }
}

.page-template-default 
{
    .site_logo
    {
        .st0 {
            fill: $white;
        }
    }
}

.lightbox_box_open
{
    overflow: hidden;
    overflow-y: hidden;
}

.close
{
    float:right;
    margin-right: 30px;
    margin-top: 10px;
    cursor:pointer;
    font-size: 25px;
    color: $grey1;
}
.main-bg-content .lightbox {
    z-index: 1;

}
.lightbox_btn 
{
    span 
    {
        cursor: pointer;
    }
}

.light_main 
{
    display: none;
}
.lightbox1 {
  overflow: auto;
  position: fixed;
  top: 0;   left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  background-color: rgba(0,0,0,0.7);
  z-index: 999; 
}
 
.lightbox1 > .lightbox-inner { 
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
} 
 
.lightbox-inner > .content {
  display: inline-block;
  outline: none;
  text-align: left;
  min-width: 980px;
  max-width: 70%;
  background:$white;
 
}

.box_content
{
    padding: 4% 2% 2%;
    max-height: 620px;
    touch-action: auto;
    p 
    {
        padding: 0% 2%;
        font-size: 16px;
        text-align: justify;
        color: $grey1;
        margin-top: 0;
    }
    h3 
    {
        padding: 0% 2%;
        color: $grey1;
    }
    a 
    {
        color: $grey1;
    } 
}

.lightbox_btn 
{
    cursor: pointer;
    b 
    {
        display: none;
        font-size: 16px;
    }
    img 
    {
        width: 10%;
        text-decoration: none;
        border-bottom: none;
    }
    a 
    {
        &:after
        {
            background:transparent;
        }
    }

}

.lightbox_btn:hover img {
    display: none;
}
.lightbox_btn:hover b {
    display: block;
    font-size: 16px;
}