.page-template-template-blouge 
{
	.site_logo 
	{
		.st0 
		{
    		@include responsive(max-large){
    			fill: $white;
    		}
		}
	}
	.site_logo.logo_overlay
	{
		.st0 
		{
    		@include responsive(extra-small){
    			fill: #464C3E;
    		}
		}
	}
}
.single.single-post
{
	.site_logo 
	{
		.st0 
		{
    		@include responsive(max-large){
    			fill: $white;
    		}
    		@include responsive(xxsmall){
    			fill: #464C3E;
    		}
		}
	}
	.site_logo.logo_overlay
	{
		.st0 
		{
    		@include responsive(extra-small){
    			fill: #464C3E;
    		}
		}
	}
}
.blouge_right
{
	@include responsive(max-large){
    	width: 100% !important;
    }
    .vc_column-inner.vc_custom_1510578523062 {
	    @include responsive(max-large){
	    	padding: 50px 50px 10px!important;
	    }
		@include responsive(xxsmall){
			padding: 30px 20px 10px !important;
		}
	}
}
.blouge_left
{
	@include responsive(max-large){
    	width: 100% !important;
    }
    .blouge_image
    {
    	@include responsive(max-large){
    		height: 60vw;
    		overflow: hidden;
    	}
    	@include responsive(xxsmall){
    		height: 75vw;
    	}
    	img 
    	{
    		@include responsive(max-large){
	    		width: 100vw;
	    	}
    	}
    }
}

.blouge_title
{
	h1
	{
		font-size: 3vw;
		font-family: $font2;
		color: $grey1;
		line-height: 1;
		font-weight: 300;
		@include responsive(extra-small){
			font-size: 4vw;
		}
		@include responsive(xxsmall){
			font-size: 24px;
		}
		small {
		    font-size: 2vw;
		    display: block;
		    @include responsive(extra-small){
				font-size: 3vw;
			}
			@include responsive(xxsmall){
				font-size: 16px;
			}
		}
		strong 
		{
		    font-size: 6vw;
		    line-height: 0.8;
		    color: $front_green;
		    display: block;
		    @include responsive(extra-small){
				font-size: 5vw;
				display: inline-block;
			}
			@include responsive(xxsmall){
				font-size: 24px;
			}
		}
	}
}
.blouge_title.vc_custom_1510645880824 {
    @include responsive(extra-small){
		margin-bottom:10px !important;
	}
}
.blogue_description 
{
	p
	{
		text-align: justify;
		color: $grey1;
		font-size: 20px;
		@include responsive(xxsmall){
			font-size: 16px;
		}
	}
}
.bloglist 
{
	.BlogImage
	{
		max-height: 18.11023622047244vw;
		@include responsive(extra-small){
			max-height: 350px;
		}
		@include responsive(xxsmall){
			max-height: 65vw;
		}
	}
	.blogdescription {
	    background-color: $blogpost !important;
	    min-height: 20.10498687664042vw;
	    padding: 1.0498687664041995vw;
	}
}
.bloglist_outer
{
	margin: 6% 2% 2%;
	.bloglist 
	{
		.blogposttitle
		{
			h4 
			{
			    font-size: 36px;
			    text-transform: uppercase;
			    color: $white;
			    margin-top: 15px;
			    font-family: $font2;
			    font-weight: 300;
			    @include responsive(max-large){
			    	font-size: 24px;
			    }
			    @include responsive(max-small){
			    	font-size: 20px;
			    }
			}
		}
		.postexcerpt
		{
			p 
			{
			    color: $white;
			    font-size: 18px;
			    @include responsive(max-large){
			    	font-size: 16px;
			    }
			}
		}
		.postblogbutton 
		{
			a.vc_btn3.vc_btn3-size-md
			{
			    background-color: transparent;
			    font-size: 17px;
			    padding-left: 0;
			    text-transform: uppercase;
			    text-decoration: none;
    			color: $white;
    			border: 0;
			    &:hover
			    {
			    	font-weight:700;
			    	text-decoration: none;
			    }
			    @include responsive(max-large){
			    	font-size: 15px;
			    }
			}
			.typcn-arrow-right
			{
				background-image: url(../../../images/arrowblogue.png);
				background-repeat: no-repeat;
				right: -25px;
			    width: 18px;
			    height: 15px;
			}
		}
	}
	@include responsive(max-large){
    	margin: 2%;
    }
    @include responsive(extra-small){
		margin: 2% 5%;
	}
	@include responsive(xxsmall){
		margin: 1%;
	}
}
body.single.single-post
{
	overflow-y: auto;
	overflow-x: hidden;
}

.single_blogue_left
{
	@include responsive(max-large){
    	width: 100% !important;
    }
    img 
	{
		@include responsive(max-large){
    		width: 100vw;
    	}
	}
	.blog_left 
	{
	    @include responsive(max-large){
	    	height: 60vw;
	    	overflow: hidden;
	    }
	    @include responsive(xxsmall){
	    	height: 75vw;
	    }
	}
}
.single_blogue_right
{
	padding: 15% 4% 3%;
	@include responsive(max-large){
    	width: 100% !important;
    	padding: 50px 60px;
    }
    @include responsive(xxsmall){
    	padding: 20px 40px;
    }
	.blog_right
	{
		margin-bottom: 50px;
		h1 
		{
		    font-size: 4vw;
		    color: $grey1;
		    line-height: 1;
		    margin-bottom: 50px;
		    font-family: $font2;
		    strong {
			    display: block;
			    @include responsive(max-large){
		    		display: inline-block;
    			}
			}
			@include responsive(max-large){
		    	margin-bottom: 30px;
    		}
    		@include responsive(extra-small){
		    	margin-bottom: 20px;
		    	font-size: 30px;
    		}
		}
		p 
		{
		    font-size: 20px;
		    color: $grey1;
		    text-align: justify;
		    @include responsive(max-large){
		    	font-size: 18px;
    		}
		}
		@include responsive(max-large){
	    	margin-bottom: 20px;
		}
	}
	.backbutton 
	{ 
		margin-bottom: 30px;
		a 
		{
			color:$front_green;
			font-size: 1.8vw;
			line-height: 1.5;
			letter-spacing: 2px;
			margin-left: 10px;
			@include responsive(max-large){
		    	font-size: 3vw;
    		}
    		@include responsive(extra-small){
		    	font-size: 24px;
		    	margin-left: 0px;
    		}
		} 
		@include responsive(extra-small){
	    	margin-bottom: 10px;
		}  
	}
	.morelinks
	{
		h3
		{
		    font-size: 2vw;
		    text-transform: uppercase;
		    color: $front_green;
		    font-weight: 300;
		    @include responsive(extra-small){
	    		font-size: 22px;
			}
		}
		ul 
		{
			li 
			{
				margin-bottom: 1.1023622047244095vw;
				a 
				{
					color: $grey1;
				    line-height: 2;
				    background-repeat: no-repeat;
				    background-position: left;
				    padding-left: 2.507349vw;
				    background-image: url(../../../images/bloguefileimage.png);
				    background-size: contain;
    				font-size: 1.0498687664041995vw;
    				@include responsive(max-large){
				    	font-size: 16px;
				    	padding-left: 35px;
		    		}
				}
			}
		}
	}
}