#carousel {
	z-index: 1;
	position: relative;
	top:0;
	left: 0;
	width: 100%;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	.item {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: $carousel_height;

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			/*background: $carousel_background;*/
			
			@include responsive(small){
				/*background: $carousel_background;*/
			}
		}

		.centered {
			@include centered($carousel_content_top, $carousel_content_width, $carousel_text_align);
		}

		h2 {
			position : relative;
			top: 3vw;
			color: $grey1;
			font-size: $carousel_h2_size;
			text-align: center;
			float: right;
			margin-top: -100px;
    		width: 49vw;
    		font-weight: $carousel_h2_weight;
    		text-transform: uppercase;
			@include responsive(medium){
			font-size: 4vh;
			}
			@include responsive(small){
				font-size: 3vh;
			}
		}
		h1 {
			color: $grey1;
			font-size: $carousel_h1_size;
			text-align: center;
		}
		p {
			margin: 0;
			font-size: $carousel_p_size;
			text-align: center;
			color: $grey1;
			width: 25vw;
		    float: right;
		    position: relative;
		    top: 1.5vw;
		    right: 12vw;
		    bottom: 0vw;
			@include responsive(small){
				font-size: 2vh;
			}
		}
		a {
			@include button($carousel_button_font_size, $carousel_button_color, $carousel_button_text_color, $carousel_button_padding, $carousel_button_radius);
		}
	}
}

.icon_size {
	font-size: 1.3em;
    font-weight: 600;
}

.caroussel_block 
{
	
}