
.bgImage {
	height: 40vh;
}
.clinical-content {
    padding:0px;
    max-width: none;
    left: 0;
    width: auto;
    height: auto;    
    overflow: hidden;
}   
.clinical-content .vc_row {
    margin-left: 0px;
    margin-right: 0px;
}
.clinical-left-content {
    padding-left: 0;
    padding-right: 0;
    max-height: 55.7vw;
    overflow: hidden;
}
.clinical-right-container {
    max-height: 55.7vw;
    padding: 18.5% 6% 0% 7.5%!important;
}
.clinical-right-description-outer {
    max-height: 450px;
}

.clinical-left-image {
    height: auto;
}
.clinic-video 
{
    display:none;
   a 
   {
    color:$grey1;
    font-weight: 700;
   } 
}
.clinic_open_video 
{
    overflow: hidden;
}
.clinic-title {
    h1 
    {
	color: $grey1;
    font-size: 3.5vw;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.2;
    padding-bottom: 23px;
    }
    h2 
    { 
    color: $grey1;
    font-weight: 800;
    letter-spacing: 3px;
    line-height:1.2; 
    text-transform: uppercase;  
    }
    a 
    {
    color: $grey1;  
    }
}

.clinical-description {
    margin-right: 20px;
    p {
    color: $grey1;
    font-size: 16px;
    text-align: justify;  
    margin-top: 0;
    }
}
.clinical-bottom-left-img {
    width: 100%;
    max-height: 650px;    
    min-width: 476px;
    overflow: hidden;
    img 
    {  
        min-width: 476px;
        max-width: 100%; 
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        &:hover 
        {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }
    } 
} 
.clinical-bottom-left-img1 {
    width: 100%;
    max-height: 650px;    
    min-width: 476px;
    overflow: hidden;
    img 
    {  
        min-width: 476px;
        max-width: 100%; 
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        &:hover 
        {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }
    } 
} 
.clinical-bottom-right-img {
    width: 100%;
    max-height: 650px; 
    min-width: 476px; 
    overflow: hidden;
    img 
    {  
        min-width: 476px;
        max-width: 100%; 
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        &:hover 
        {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }
    }   
} 

.clinical-bottom-right-img1 {
    width: 100%;
    max-height: 650px;  
    min-width: 476px;  
    overflow: hidden;
    img 
    {  
        min-width: 476px;
        max-width: 100%; 
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        &:hover 
        {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }
    } 
} 
.clinical_image_gallery li.isotope-item {
    width: 25%;
    overflow: hidden;
    margin: 0 !important;
    max-height: 645px;
}
.clinical_image_gallery {
    max-height: 645px;
    img 
    {  
         width: 100%;
         min-height: 645px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        &:hover 
        {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }
    } 
} 

    .clinic_title_mobile
    {
        display: none;
    }
    .clinic_description_mobile
    {
        display: none;
    }
    .lightbox_visit_open
    {
        overflow: hidden !important;
        overflow-y: hidden !important;
    }
    .page-template-template-clinique .virtual_visit_outer .close_visit
    {
        float:right;
        cursor:pointer;
        font-size: 25px;
        color: $grey1;
        margin-right: 25px;
        margin-top: 20px;
        i 
        {
          margin-right: 20px;
          margin-top: 0px;
          margin-bottom: 10px;
        }
    }
    .virtual_visit_btn 
    {
        cursor: pointer;
        display: block;
        background: $front_green;
        border-radius: 10px;
        p 
        {
            cursor: pointer;
            font-size: 24px;
            color: $white;
            padding: 4px 15px;
            text-align: justify;
            font-weight: 700;
            margin-top: 10px;
        }
        &:hover
        {
            background: #A5BF42;
            transition: 0.5s;
        }
    }
    .clinic-map 
    {
        display: block;
    }
    .virtual_visit_outer 
    {
        display: none;
    }
    .virtual_visit_lightbox {
      /*overflow: auto;*/
      overflow: hidden;
      position: fixed;
      top: 0;   
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: table;
      table-layout: fixed;
      background-color: rgba(0,0,0,0.7);
      z-index: 999; 
    }
     
    .virtual_visit_lightbox > .virtual_visit_lightbox_inner { 
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 100%;
    } 
     
    .virtual_visit_lightbox_inner > .content {
      display: inline-block;
      outline: none;
      text-align: left;
      width: 50%;
      background:$white;
    }

    .virtual_visit_content
    {
        outline: none;
        padding: 4%;
        width: 100%;
        iframe 
        {
          width: 100%;
          height: 25vw;
        }
        h2
        {
            font-size: 24px;
            font-weight: 700;
            color: $grey1;
        }
        p
        {
            font-size: 16px;
            color: $grey1;
            text-align: justify;

        }
    }
