.page-template-template-contact
{
	.hamburger
	{
		h1 
		{
			color: $grey1;
		}
	}
	.hamburger
	{
		span
		{
			background: $grey1;
		}
	}
	.hamburger span:before, .hamburger span:after
	{
		background: $grey1;
	}
}
.contact_title {
	h1 {
	color:$green;
	font-size: 35px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 2px;
	}
	h2 {
	color:$green;
	font-size: 1vw;
	font-weight: 100;
	line-height: 1;
	}
}
.address-title
{
	p {
	color :$grey1;
	font-size:16px;
	text-align: justify;
	margin-top: -5px;
	margin-bottom: 25px;
	}
}
.contact-details {
	max-height: 1075px;
	padding: 13% 7.5% 0% !important;
}

.contact-no {
	a {
	color :$grey1;
	font-size:18px;
	font-weight: 600;
	text-align: justify;	
	}
	p {
	color :$grey1;
	font-size:18px;
	text-align: justify;
	}
}
.contact-social-outer {
	width: 23vw;
}
.contact-social-icon {
	p 
	{
		margin-top: 0;
	}
	img:nth-child(1) {
    width: 22%;	
	}
    img:nth-child(2) {
    margin-right: 3px;
    width: 21%;
    margin-left: 2px;
	}
}
.contact-site-main {
	margin:auto;
}
.contact-site {
	p 
	{
		margin-top: -10px;
	}
	a {
	color :$grey1;
	font-size:15px;
	font-weight: 600;
	text-align: justify;	
	}
}
.contact-me {
	width :85%;
	h2 {
	color:$green;
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 25px;
	}	
	ul{
	columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    line-height: 2;
	    li{
		color :$grey1;
		font-size:16px;
		font-weight: 500;
		text-align: justify;
		line-height: 2;
			strong
			{
				font-weight: 600!important;	
			}
		}
	}

}
.contact-payment {
	h2 {
		color:$green;
		font-size: 33px;
		font-weight: 100;
		letter-spacing: 3px;
		line-height: 1;
		text-transform: uppercase;
	}	
}
.payment-main {
	width: 83%;
}
.payment-details {
	margin-left: 0px;
	margin-right: 0px;
	p {
	color :$grey1;
	font-size:15px;
	font-weight: 500;
	margin-top: -1.4vw;
    margin-left: 2vw;
    line-height: 1.5;
	}
	img {
	width: 12%;
	height: auto;
	}
}
.payment-method {
	p 
	{
		margin-top: 0;
	}
	img:first-child {
    margin-right: 10px;	
    margin-bottom: 10px;
    width: 18%;	
	}
	img:nth-child(2) {
    margin-right: 15px;	
    margin-bottom: 10px;
    width: 30%;		
	}
	img:nth-child(3) {
    margin-right: 15px;	
    margin-bottom: 10px;
    width: 15%;		
	}
	img:last-child {
    margin-right: 10px;
    margin-bottom: 10px;	
    width: 50%;	
	}
}
.page-template-template-contact
{
	.footer_outer 
	{
		display: none;
	}
	.copyright
	{
		position: relative;
	    bottom: 0;
	    left: 0;
	    text-align: center;
	    font-weight: 100;
	    background: #2a3033;
	    height: 2vw;
	    margin-top: -2px;
	    border-top: 1px solid white;
		border-bottom: 1px solid white;
	    p 
	    {
	    	color: $white;
	    	margin-top: 0;
	    }
	}
}
