
.liste-dentiste {
	img {
		max-height: 50vh;
	}
}
.liste-employe {
	margin-top: 25px;
	border-top: 1px solid rgba($color1, 0.2);

	.employe {
		padding-top: 50px;
		.employe-image {
			transition: all 0.2s ease-in;
			position: relative;
			max-height: 40vh;

			img {
				display: block;
				margin: 0 auto;
				max-height: 40vh;
			}
		}
		.texte {
			background-color: rgba(255,255,255,0.8);
			text-align: center;
			width: 100%;
			position: relative;
			h3 {
				font-family: $font1;
			}
			p {
				margin: 0;
				padding-bottom: 5px;
			}
		}
		.overlay {
			display: none;
			background-color: rgba(0, 33, 89, 0.8);
			width: 100%;
			height: 100%;
			z-index: 10;
			position: absolute;
			top: 0;
			transition: all 0.2s ease-in;
			p {
				color: $white;
				padding: 20px;
			}
			.content-center {
				@include center();
				padding: 5%;
				height: auto;
				width: 100%;
			}
		}
		&:hover {
			cursor: pointer;
			.overlay {
				display: block;
				transition: all 0.2s ease-in;
			}
		}
	}
}
.equipe-container {
	padding:0px;
    margin-left: 0px;
    max-width: none;
    left: 0;
    width: auto;
    overflow: hidden;
    height: auto;   
}
.equipe-left-content {
	padding-left: 0;
    padding-right: 0;
    height: 55.7vw;
}
.equipe-right-content {
	height: 55.7vw;
	padding: 12vw 7.5vw 0% !important;
}
.equipe-left-image {
    height: auto;
}
.equipe-title {
	h1 {
	color: $grey1;	
	font-size: 3.5vw;
	line-height: 1.2;
	letter-spacing: 3px;
	font-weight: 500;
	padding-bottom: 15px;
	text-transform: uppercase;
	}
}
.equipe-title1 {
	h2 {
	color: $green;	
	font-size: 2vw;	
	letter-spacing: 0px;
	line-height: 1.4;
	font-weight: 500;
	padding-bottom: 20px;
	text-transform: uppercase;
	}
}
.equipe-description {
	max-height: 580px;
	p 
	{
	color: $grey1;	
	font-size: 16px;
    text-align: justify;
    margin-top: 0;
	}	
}
.equipe-price {
	h2
	{
	color: $green;
    font-size: 1.7vw;
    letter-spacing: 3px;
    line-height: 1.19;
    margin-top: 1vw;
    font-weight: 500;
    margin-top: 10px;
	}

}
.equipe_content_outer {
}
.equipe-price-content {
	max-height: 390px;
	p {
	color:$white;	
	font-size:15px;
	font-weight: 500;
	line-height: 1.3;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 0px;
	}
}
.equipe-details-outer {
	min-height: 542px;
}

.equipe-price-details 
{
	min-height: 61.72vw!important;
	h2
	{
		color: $green;	
		font-size: 1.8vw;
	    font-weight: 700;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    margin-top: 5vw;
	}
	h3
	{
		color: $green;	
		font-size: 1.8vw;
	    letter-spacing: 2px;
	    font-weight: 100;
	    text-transform: uppercase;
	    line-height: 1;
	}
	
	.price-details-image
	{
		.vc_single_image-wrapper.vc_box_border_grey
		{
			width: 100%;
		}
		figure.wpb_wrapper.vc_figure 
		{
			width: 100%;
		}
		img
		{
		max-height: 680px;
		width: 100%;
		height: auto;
		}
	}
	.price-details-title {
	padding: 0% 8% 0%;
	min-height: 130px;
	margin-bottom: 0px;
	}  
}

/*#equipe_price_one 
{
	background : #f3f3f3;
}*/

/*#equipe_price_two 
{
	background : #eaeaea;
}
#equipe_price_three
{
	background : #f3f3f3;
}*/

.equipe_content_outer
{
	.equipe-price-details
	{
		background : #f3f3f3;
	}
	.equipe-price-details:nth-child(2)
	{
		background : #eaeaea;
	}
}
.team_member_outer
{
	.equipe-price-details
	{
		background : #f3f3f3;
	}
	.equipe-price-details:nth-child(2)
	{
		background : #eaeaea;
	}
}

.price-details-description {
	max-height: 280px;
	padding: 0% 8% 0%;
	p {
	color: $grey1;	
	font-size: 16px;	
    text-align: justify;
	}
}



/*	.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	    height: 100%;
	    .vc_column-inner {
		    height: 100%;
		}
	}*/
/*	.mCSB_inside > .mCSB_container {
    margin-right: 0px;
	}*/
.equipe-price-details .vc_column-inner {
    padding: 0 !important;
}

	.equipe-price-content .mCSB_scrollTools .mCSB_draggerRail{
		background-color: #fff;
		filter: "alpha(opacity=1)"; -ms-filter: "alpha(opacity=1)"; 
	}
	.equipe-price-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background-color: #a5bf42; background-color: rgba(165, 191, 66,1);
		filter: "alpha(opacity=1)"; -ms-filter: "alpha(opacity=1)"; 
	}
	.equipe-price-content .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background-color: #a5bf42; background-color: rgba(165, 191, 66,1);
		filter: "alpha(opacity=1)"; -ms-filter: "alpha(opacity=1)"; 
	}
	.equipe-price-content .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.equipe-price-content .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background-color: #a5bf42; background-color: rgba(165, 191, 66,1);
		filter: "alpha(opacity=1)"; -ms-filter: "alpha(opacity=1)"; 
	}