footer {
  position: relative;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2px 0px 0px;
  background: $footer_color;
  color: #fff;

  @include responsive(small){
    padding-top: 25px;
    padding-bottom: 25px;
    .copyright {
      text-align: center;
    }
  }
}

.copyright{
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: 100;
  background: $copyright_color;
  height: 2vw;
  p
  {
    position: relative;
    top: 0.4vw;
    left: 0;
    bottom: 0;
    right: 0;
    color: $white;
  }
  a
  {
    color: $white;
    transition: all 0.2s ease-in;
    text-align: center;
    font-size:13px;
    margin: 0;
    font-family: $font1;
    &:hover
    { 
      color: $white;
    }
  }
}

.footer_outer {
    width: 64vw;
    position: relative;
    height: 100%;
    right: 0;
    bottom: 0;
    margin: 1.7% auto;
}

.textwidget {
  margin-top: 15px;
  line-height: 1.5;
  width: 26vw;  
  font-size: 16px;
  a 
  {
    color: $white;
    font-size: 16px;
  }
  p
  {
    margin-top: 6px;
  }
  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    line-height: 2;
  }
}
.footer_contact {
  margin-top: 43px;
  padding-left: 25px;
}
.footer_address 
{
  margin-top: 12px;
}
.open_hour_footer
{
  margin-top: 12px;
}
.tc_week 
{
  line-height: 1.3;
  font-size: 17px;
  strong
  {
    display: inline-block;
    width: 5vw;
    font-weight: 600;
  } 
  &:first-child strong 
  {
     font-weight: 100;
  } 
  &:nth-child(3) strong 
  {
    font-weight: 100;
  }
  &:nth-child(5) strong 
  {
    font-weight: 100;
  }
}

  