.hamburger {
  z-index: 99999999999;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 6.1vw;
  left: 7.3%;
  float: left;
  height: 100%;
  @include transform(translateY(-50%));

  span {
    position: relative;
    display: block;
    width: $hamburger_width;
    height: 4px;
    margin-top: #{$hamburger_margin};
    background: $hamburguer_color;
    @include transition(all $hamburger_transition);

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      left: 0;
      background: $hamburguer_color;
      position: absolute;
      @include transition(all $hamburger_transition);
    }
    &:before { top: -#{$hamburger_span_margin}; }
    &:after { bottom: -#{$hamburger_span_margin}; }
  }
  &.hamburger-showLeft {
    @include transform(translate(0, -50%));
    span {
      &:before,
      &:after { left: auto; right: 0; }
    }
  }
  &.hamburger-3 {
    @include transform(translate(0, -50%));
  }
  &.hamburger-4 {
    @include transform(translate(0, -50%));
  }
  &.hamburger-5 {
    @include transform(translate(0, -50%));
  }
  &.close {
    &.hamburger-1 {
      span {
        @include transform(rotate(-180deg));
        &:before,
        &:after {
          width: 10px;
        }
        &:before {
          top: -4px;
          @include transform(rotate(-45deg));
        }
        &:after {
          bottom: -4px;
          @include transform(rotate(45deg));
        }
      }
    }
    &.hamburger-showLeft {
      span {
        @include transform(rotate(180deg));
        &:before,
        &:after {
          width: 10px;
        }
        &:before {
          top: -4px;
          @include transform(rotate(45deg));
        }
        &:after {
          bottom: -4px;
          @include transform(rotate(-45deg));
        }
      }
    }
    &.hamburger-3 {
      span {
        @include transform(rotate(-270deg));
        &:before,
        &:after {
          width: 10px;
        }
        &:before {
          top: -4px;
          @include transform(rotate(-45deg));
        }
        &:after {
          bottom: -4px;
          @include transform(rotate(45deg));
        }
      }
    }
    &.hamburger-4 {
      span {
        @include transform(rotate(270deg));
        &:before,
        &:after {
          width: 10px;
        }
        &:before {
          top: -4px;
          @include transform(rotate(-45deg));
        }
        &:after {
          bottom: -4px;
          @include transform(rotate(45deg));
        }
      }
    }
    &.hamburger-5 {
      span {
        @include transform(rotate(180deg));
        background: transparent;
        &:before {
          top: 0;
          @include transform(rotate(45deg));
        }
        &:after {
          bottom: 0;
          @include transform(rotate(-45deg));
        }
      }
    }
  }

  @include responsive(small){
    z-index: 999;
    display: block;
  }
}

.menu_title
{
  h1 {
    color: $white;
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 1.4vw;
    float: left;
    height: 100%;
    text-transform: uppercase;
    margin-left: 20px;
    font-size:36px;
  }
  .close_title {
      display: none;
    }
  .today_time {
      display: none;
  }
  .language {
      display: none;
  }
}
.hamburger.active {
  position: fixed;
  height: auto;
    h1 {
      color: $grey1;
      display: none;
      top: -40%;
    }
    h1.close_title {
      display: block;
      color: $grey1;
    }
}
.hamburger.hamburger-5.active span {
  &:before {
    background: $grey1;
  }
  &:after {
    background: $grey1;
}
}

.open_menu
{
  .today_time
  {
    display: block;
    h1 {
      color: $white;
      background-color: $grey1;
      width: 41vw;
      text-align: center;
      left: 0;
      top: -15px;
      position: fixed;
      height: 3.8vw;
      text-transform: uppercase;
      font-size: 23px;
      margin-left: 0;
    }
    p {
      margin-top: 1.4vw;
      margin-left: 1vw;
    }
  }
  .language
  {
    display: block;
    color: $open_menu_green;
    left: 28.5%;
    top: 11.5%;
    position: fixed;
    height: auto;
    text-transform: uppercase;
  }
  .langues a {
    color: $open_menu_green;
  }
}