header {
  z-index: 1;
  @if $sticky_header == true {
    position: absolute;
    } @else {
      position: relative;
    }
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    // box-shadow : 1px 1px 2px darken($color1, 4);

    .top-header {
      @if $top_header_activate == true {
        display: block;
        } @else {
          display: none;
        }
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: $top_header_hight;
        padding: 10px 30px;
        background: $top_header_color;
      }

      .bottom-header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 15px 50px;
        color: #fff;

        @include responsive(medium){
          padding: 15px 10px;
        }

        &:before {
          z-index: -1;
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          opacity: $header_bottom_opacity;
          zoom: 1;
        }
      }

      .logo-desktop {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        width: 20%;

        @include responsive(medium){
          width: 21%;
        }

        @include responsive(small){
          width: 40%;
        }

        img  {
          display: inline-block;
          position: relative;
          top: 0;
          left: 50px;
          max-width: $logo_max_width;

          @include responsive(medium){
            width: 150px;
          }
        }
      }

      .open-hours {
        display: inline-block;
        position: relative;
        top: 5px;
        left: 0;
        width: 60%;
        font-size : 20px;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;

        @include responsive(medium){
          width: 48%;
          font-size: 14px;
        }

        @include responsive(small){
          display: none;
          width: 40%;

        }
      }

      .info {
        display: inline-block;
        position: relative;
        top: 5px;
        left: 0;
        width: 13%;
        text-align: right;

        @include responsive(medium){
          width: 20%;
          font-size: 14px;
        }

        @include responsive(small){
          width: 37%;
        }

        img {
          display: inline-block;
          position: relative;
          top:0;
          left: 0;
          margin-left: 15px;
          
        }

        .num .tel {
          display: inline-block;
          color: #fff;

          @include responsive(small){
            display: none;
          }
        }
      }
    }


/*.onscroll_fixed
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 35px 50px;
    z-index: 2;
    background: $grey1;
    .site_logo 
    {
       top: 0.4vw;
       width: 12%;
    }
    .hamburger
    {
      top: 2.2vw;
    }
    .menu_title 
    {
      h1
      {
        top: 35%;
      }
    }
}
*/




.site_logo 
{
  position: absolute;
  top: 3.5vw;
  right: 7.5%;
  float: right;
  height: 100%;
  width: 16%;
  display: table;
}
#site_content {
  top:0px !important;
}
.logo_overlay
{
  opacity: 0.5;
}
/*.main1 {
  min-height: 785px!important;
}*/