.info-outer {
  padding:0px;
  margin-left: 0px;
  max-width: none;
  left: 0;
  width: auto;
  overflow: hidden;
}
.info-left {
    height: auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    max-height: 1075px;
}
.left-image {
	width: 100%;
    max-height: 400px;
    overflow: hidden;
}
.info-left-image {
	width: 100%;
    height: auto;
    margin-top: -3vw;
}
/* Information First Heading Start */
.info-left-heading {
	padding-left: 0px;
    padding-right: 0px;
    min-height: 310px;
    max-height: 310px;
}
.info-left-heading1 {
	h2 {
	color:$white;
	font-size: 1.8vw;
    letter-spacing: 2px;
	text-align: center;	
	font-weight: 100;
	position: absolute;
    top: 1.7vw;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
	}
	.textwidget 
    {
	    margin-top: 0px;
	    line-height: 1; 
	   	width: 100%;
	   	height: 5.2vw;
		background-color: #2B3034;
	} 
}
/* Information Second Heading Start */
.info-left-heading2 {
	padding-left: 0px;
    padding-right: 0px;
    min-height: 365px;
    max-height: 365px;
}
.info-left-heading3 {
	h2 {
	color:$white;
	font-size: 1.8vw;
    letter-spacing: 2px;
	text-align: center;	
	font-weight: 100;
	position: absolute;
    top: 1.7vw;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
	}
	.textwidget {
	    margin-top: 0px;
	    line-height: 1; 
	   	width: 100%;
	   	height: 5.2vw;
		background-color: #89BA00;
	} 
}
/* Information Third Heading Start */
.info-right-heading {
	padding-left: 0px;
    padding-right: 0px;
    max-height: 310px;
    min-height: 310px;
}
.info-right-heading1 {
	background-color: #F3F3F3;
    min-height: inherit;
	h2 {
	color:$white;
	font-size: 1.8vw;
    letter-spacing: 2px;
	text-align: center;	
	font-weight: 100;
	position: absolute;
    top: 1.7vw;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
	}
	.textwidget {
	    margin-top: 0px;
	    line-height: 1; 
	   	width: 100%;
	   	height: 5.2vw;
		background-color: $grey1;
	} 
}
/* Information Fourth Heading Start */
.info-right-heading2 {
	padding-left: 0px;
    padding-right:0px;
    max-height: 365px;
    min-height: 365px;
}
.info-right-heading3 {
	background-color: #F3F3F3;
	min-height: inherit;
	h2 {
	color:$white;
	font-size: 1.8vw;
    letter-spacing: 2px;
	text-align: center;	
	font-weight: 100;
	position: absolute;
    top: 0.75vw;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
	}
	.textwidget {
	    margin-top: 0px;
	    line-height: 1; 
	   	width: 100%;
	   	height: 5.2vw;
		background-color: #A1C037;
	}
}
.widget_nav_menu {
	margin-left: 50px;
	padding-bottom: 20px;
    max-height: 350px;
    min-height: 170px;
   /*  padding: 20px; */
    padding: 40px 30px 10px 20px;
    ul
	{	
	    padding: 0% 8%;
	    margin:0px;
	    li 
		{
			list-style: disc;
			a {
		    	font-size:15px;
		    	color : $grey1;
		    	line-height: 2;
		    	font-weight:300;
		    	transition: none;
		    	strong
			    {
					font-weight:300;
			    }
			    &:hover
			    {
			    	font-weight: bold;
			    	strong
			    	{
			    		font-weight: bold;
			    	}
			    }
		    }

		}
	}
}
.widget_nav_menu ul li a:hover > b:hover {
  font-weight: bold;
}
.info-right {
	height: auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    height: 1075px;
    padding: 20% 6% 0% 8%;
}
.info-right-title {
	h1 {
	color: $grey1;	
	font-size: 3.7vw;
    line-height: 1.05;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 27px;
	}
}
.info_description {
	max-height: 400px;
	h2 {
	color: $grey1;	
	font-size: 1.5vw;
    line-height: 1;
    margin-bottom: 20px;
	}
	p {
	font-size:16px;
	font-weight: 500;
	color: $grey1;	
	text-align: justify;
	margin-top: 0px;
	}
}

/*Single Information CSS Start*/

.single-info-outer {
	padding:0px;
	margin-left: 0px;
	max-width: none;
	left: 0;
	width: auto;
	overflow: hidden;
}
.single-info-inner {
	padding-left: 0;
	padding-right: 0;
}
.single-info-left {
    height: auto;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    max-height: 1075px;
}
.single-left-image {
	width: 100%;
    max-height: 400px;
    overflow: hidden;
}
.single-info-left-image {
	width: 100%;
    height: auto;
    margin-top: -3vw;
}
.single-info-right {
	max-height: 1075px;
	padding-left: 0px;
	padding-right: 0px;
	padding: 20% 5% 0% 7.5%;
	height: auto;
}
.backarrow-info {
	a {
	color: $green;
    font-size: 2vw;
    line-height: 1.5;
    text-transform: uppercase;
	}
}
.single_information {
	width: 100%;
	h1 {
	color: $grey1;	
	font-size: 2.9vw;
    line-height: 1;
    font-weight: 100;
    margin-bottom: 35px;
    text-transform: uppercase;
	    strong
	    {
	    	font-weight: 700;
	    }
	}
	h2
	{
	color: $grey1;
	font-size: 1.5vw;
    line-height: 1;
    margin-bottom: 20px;
	}
	p {
	font-size:16px;
	font-weight: 500;
	color: $grey1;	
	text-align: justify;
	margin-top: 0;
		a {
		color: $grey1;
		font-weight: 600;
		}
	}
	ul 
	{
		padding-left: 3vw;
    	padding-right: 2vw;
		li 
		{
			list-style: disc;
			text-align: justify;
		}
	}
	ol
	{
		li 
		{
			list-style: decimal;
			b 
			{
				color: $grey1;
			}
			a
			{
				color: $grey1;
				font-weight: 700;
			}
		}
	}
	.paiement_logo 
	{
		img:first-child {
	    margin-right: 10px;	
	    margin-bottom: 10px;
	    width: 10%;	
		}
		img:nth-child(2) {
	    margin-right: 15px;	
	    margin-bottom: 10px;
	    width: 18%;		
		}
		img:nth-child(3) {
	    margin-right: 15px;	
	    margin-bottom: 10px;
	    width: 12%;		
		}
		img:last-child {
	    margin-right: 10px;
	    margin-bottom: 10px;	
	    width: 25%;	
	}
	}
}
.single_information_description 
{
	max-height:450px;
	padding: 3% 3% 0% 0%!important;
}
/*Single Information End */


