*, *:after, *:before {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;

  /* ==== SCROLLBAR ==== */
  &::-webkit-scrollbar { 
    background-color: transparent;
    width: 10px;
  }
  &::-webkit-scrollbar-button {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track { 
    background-color: transparent;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb { 
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner { 
    background-color: transparent;
  }
}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: $font2;
  background: white;
  /*-webkit-overflow-scrolling: touch; */
}


body {
  overflow: auto;
}

a {
// cursor: url('img/cursor.png'), pointer;
cursor: pointer;
text-decoration: none; 
transition: all 0.2s ease-in;
}

a:link, a:visited, a:hover, a:active {
  border: none;
}

ul {
  padding: 0;
}

li {
  list-style: none; 
}

img {
  display: inline-block;
  max-width: 100%;
}

img, a {
  outline: none;
  border: 0 solid transparent;
}

.clearfix {
  clear: both;
}

table tr:nth-of-type(even){background: transparent;}
table tr:nth-of-type(odd){background: $grey;}

/* ==== PLACEHOLDER ==== */
::-webkit-input-placeholder {
  color:    #999;
}
:-moz-placeholder { 
  color:    #999;
}
::-moz-placeholder { 
  color:    #999;
}
:-ms-input-placeholder { 
  color:    #999;
}

/* ==== SELECTION ==== */
::selection {
  background: $color1;
  color: white; 
}
::-moz-selection {
  background: $color1;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {font-size: $h1;}

h2 {font-size: $h2;}

h3 {font-size: $h3;}

h4 {font-size: $h4;}

h5 {font-size: $h5;}

h6 {font-size: $h6;}

.col {
  @extend .columns;
}

#wrap {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;

  #site_content {
    position: absolute;
    left:0;
    width: 100%;
    height: auto;
  }
}

.full-cover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 400px;
}

.container {
  @extend .columns, .small-12, .small-centered, .#{$container_width};
  padding: 30px;
}

.row, .columns, .column {
  position: relative;
}

.align_center {
  text-align: center;
}

.centered {
  position : absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%); 

  @include responsive(small){
    width: 85%;
  }
}

/* ==== OTHER UI ==== */
div#back_top {
  display: none;
  cursor: pointer;
  z-index: 999;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 15px;
  background: rgba(0,0,0,0.2);

  @include responsive(xsmall) {
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
  }

  span {
    color: white;
    font-size: 1.5em;
  }
}

/* ==== Image Tag Hack ==== */

img.cover{
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  padding-left: 100% !important;
  box-sizing: border-box !important;
  &.full{
  	position: absolute;
		top:0;
		left:0;
		bottom:0; 
		right:0;
  }
}