#map {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 1075px;

	#content-map {
		max-width: 1075px;
		width: 300px;
		height: 110px;
		h3 
		{
			color: $front_green;
			font-size: 26px;
    		font-weight: 500;
		}
		a
		{
			font-weight: 500!important;
			color: $front_green;
			font-size: 14px;
			&.itineraire 
			{
				display: inline-block;
				position: absolute;
				bottom: 0;
				right: 0;
				font-size: 1.5em;
				text-decoration: underline;
				color : $front_green;
			}
		}
	}
}
.map-outer {
	padding:0px;
	margin-left: 0px;
	max-width: none;
	left: 0;
	width: auto;
	overflow: hidden;
}

.menu_map 
{
	position: relative;
    padding-bottom: 1vw;
    padding-right: 5vw;
    clear:both;
    width: 80%;
    margin: 0px auto;
	img {
	    pointer-events: none;
	}
	a {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 83%;
	    right: 2vw;
	    z-index: 9999;
	    cursor: pointer;
	    height: 93%;
	}
}


/* Classic  Map CSS*/

#mymap
{
    width: 100%;
    height: 1075px;
}