
.menu-dektop {
	display: inline-block;

	.primary_menu {
		position: absolute;
		top: 0;
		right: 100px;

		li {
			position: relative;
			top: 0;
			left: 0;
			float: left;
			margin-left: $margin_menu_item_desktop;

			a {
				color: $menu_desktop_color;
				.desktop &:hover {
					color: $menu_desktop_color_active;
				}
			}

			&.current-menu-item  a {
				color: $menu_desktop_color_active;
				padding-bottom: 5px;
				border-bottom: 1px solid $color2;
			}
		}
	}

	@include responsive(small){
		display: none;
	}
}

.menu-mobile {
	display: block;
	z-index:99999999999;
	background: $white;
	position: fixed;
	overflow-y: auto; 

	h3 {
		color: #fff;
		font-size: 1.9em;
		padding: 20px;
		margin: 0;
		font-weight: 300;
		background: darken($color1, 5);
	}
	ul {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 0;
	}
	li {
		text-align: left;

		a {
			display: block;
			color: $grey1;
			font-size: 26px;
			font-weight: 900;
			padding: 0;
			letter-spacing: 3px;

			&:hover {
				color: $open_menu_green;
			}

			&:active {
				background: #fff;
				color: $open_menu_green;
			}
		}
	}
}

/* Orientation-dependent styles for the content of the menu */
.menu-mobile-vertical {
	width: 41vw;
	height: 100%;
    top: 0;
    z-index: 1000;
    overflow: hidden;

	a {
		padding: 0em;
	}
}

.menu-mobile-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;

	h3 {
		height: 100%;
		width: 20%;
		float: left;
	}

	a {
		float: left;
		width: 20%;
		padding: 0.8em;
		border-left: 1px solid lighten($color1, 10);
	}
}

/* Vertical menu that slides from the left or right */
.menu_overlay {
    opacity: 0.2;
}
.menu-mobile-left {
	left: -45vw;
}

.menu-mobile-right {
	right: -350px;
}

.menu-mobile-left.menu-mobile-open {
	display: block;
	left: 0px;
	z-index: 1;
}

.menu-mobile-right.menu-mobile-open {
	left: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.menu-mobile-top {
	top: -150px;
}

.menu-mobile-bottom {
	bottom: -150px;
}

.menu-mobile-top.menu-mobile-open {
	top: 0px;
}

.menu-mobile-bottom.menu-mobile-open {
	bottom: 0px;
}

/* Push classes applied to the body */
.menu-mobile-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-mobile-push-toright {
	left: 350px !important;
}

.menu-mobile-push-toleft {
	left: -350px;
}



/* Transitions */

.menu-mobile,
.menu-mobile-push {
	/*-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;*/
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Menu CSS*/
.menu-principal-menu-container {
    float: left;
    line-height: 1.25;
    text-transform: uppercase;
    padding: 0% 11%;
   
}
.menu_hamburger_scroll
{
	max-height: 100%;
	padding: 11% 2% 0%;
	touch-action: auto;
	overflow: auto;
}
.menu_hamburger_scroll .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
}
.menu_hamburger_scroll .mCSB_inside > .mCSB_container
{ 
	margin-right: 0px; 
}
.contact_detail {
	position: relative;
    .add
    {
	 p 
	  {	
	  	color: $grey1;
	   	margin-top: 0;
	   	font-family: $font1;
	   	font-size: 14px;
	  }
    }
    .menu_contact_detail
    {
     a 
      {
      	color: $grey1;
      	font-weight: 500;
      	font-family: $font1;
      	font-size: 14px;
      }
       strong
        {
        	font-weight: 600;
        }
    }
    .small-7 {
    left: 0vw;
    padding: 0% 0% 8% 10.5%;
    top: 1.1vw;
    line-height: 1.4;
	}
	.small-5 {
	padding: 0;
	top: 1.1vw;
    right: 0.5vw;
	}
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.menu-mobile-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.menu-mobile-top {
		top: -110px;
	}

	.menu-mobile-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.menu-mobile-vertical {
		font-size: 90%;
		width: 190px;
	}

	.menu-mobile-left,
	.menu-mobile-push-toleft {
		left: -190px;
	}

	.menu-mobile-right {
		right: -190px;
	}

	.menu-mobile-push-toright {
		left: 190px;
	}
}
