
/*======== MIXIN ========*/

@mixin responsive($size) {
  @if $size == large {
    @media (max-width: 120em) { @content; }
  }
  @else if $size == medium {
    @media (max-width: 80em) { @content; }
  }
  @if $size == max-large {
    @media (max-width: 1199px) { @content; }
  }
  @else if $size == small {
    @media (max-width: 64em)  { @content; }
  }
  @if $size == max-small {
    @media (max-width: 979px) { @content; }
  }
  @else if $size == extra-small {
    @media (max-width: 767px)  { @content; }
  }
  @else if $size == xxsmall {
    @media (max-width: 479px)  { @content; }
  }
  @else if $size == xsmall {
    @media (max-width: 20em)  { @content; }
  }
}

@mixin opacity($opacity){
  $IE : $opacity*100;
  opacity: $opacity; 
  -moz-opacity: $opacity;
  -webkit-opacity: $opacity;
  -o-opacity: $opacity;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IE+")";
  filter: alpha(opacity=$IE);
  -khtml-opacity: $opacity;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; 
  -moz-box-sizing: $box-model;
  -o-box-sizing: $box-model;
  -ms-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin transition($val...){
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  transition: $val;
  -ms-transition: $val; 
}

@mixin backface($val...){
 backface-visibility: $val;
 -webkit-backface-visibility: $val;
 -o-backface-visibility: $val;
 -moz-backface-visibility: $val;
 -ms-backface-visibility: $val;
}

@mixin centered($top, $width, $text-align) {
  position : absolute;
  top: $top;
  left: 50%;
  min-width: $width;
  text-align: center;
  transform: translate(-50%, -50%);

  @include responsive(small){
    width: 75%;
  }
}

@mixin button($font_size, $color, $text_color, $padding_side, $radius) {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  font-size: $font_size;
  margin-top: 15px;
  padding: 13px $padding_side;
  color: $text_color;
  background: $color;
  border-radius: $radius;
  transition: all 0.1s ease-in;

  &:hover {
    background: darken($color, 5);
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin perspective($val...){
  -webkit-perspective: $val;  
  -moz-perspective: $val;
  -ms-perspective: $val; 
  -o-perspective: $val;
  perspective: $val;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin transform($val...){
  transform: $val;
  -webkit-transform: $val;
  -moz-transform: $val;
  -o-transform: $val;
  -ms-transform: $val;
}

@mixin rotate($degree) {
  -ms-transform: rotate($degree);
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
  display: inline-block;
}

@mixin transform-origin($val...){
  transform-origin: $val;
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -o-transform-origin: $val;
  -ms-transform-origin: $val;
}

@mixin transform-style($val...){
  -webkit-transform-style: $val;
  -moz-transform-style: $val;
  -o-transform-style: $val;
  -moz-transform-style: $val;
  transform-style: $val;
}

@mixin box_shadow_inset($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    -o-box-shadow:inset $top $left $blur $color;
    -ms-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      -o-box-shadow: $top $left $blur $color;
      -ms-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
  }

  @mixin box_shadow($val...){
   -webkit-box-shadow:$val;
   -moz-box-shadow:$val;
   -ms-box-shadow:$val;
   -o-box-shadow:$val;
   box-shadow:$val;
 }

 @mixin backgroundImage($url, $position){
   background: url($url) no-repeat $position fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   -ms-background-size: cover;
   background-size: cover;
 }

 @mixin gradient($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(left,  $color1 0%, $color2 100%);
  background: -webkit-linear-gradient(left,  $color1 0%,$color2 100%);
  background: linear-gradient(to right,  $color1 0%,$color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}

@mixin radial-gradient($color1, $color2){
 background: $color1; 
 background: -moz-radial-gradient(center, ellipse cover,  $color1 0%, $color2 100%); 
 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$color1), color-stop(100%,$color2));
 background: -webkit-radial-gradient(center, ellipse cover,  $color1 0%,$color2 100%);
 background: -o-radial-gradient(center, ellipse cover,  $color1 0%,$color2 100%); 
 background: -ms-radial-gradient(center, ellipse cover,  $color1 0%,$color2 100%); 
 background: radial-gradient(ellipse at center,  $color1 0%,$color2 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  @include transform(translateY(-50%));
}
@mixin horizontal-center($position: relative) {
  position: $position;
  left: 50%;
  @include transform(translateX(-50%));
}
@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

@mixin grayScaleOn() {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray;
  -webkit-filter: grayscale(100%);
}
@mixin grayScaleOff() {
  filter: none !important;
  -webkit-filter: grayscale(0%);
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  @include border-radius($border-radius);
}
@mixin button-variant($color, $background, $fontfamily) {
  color: $color;
  background-color: $background;
  font-family: $fontfamily;
}

@mixin full-before() {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
}
@mixin full-after() {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
}

@mixin keyframes($name) {
  @-o-keyframes #{$name} { @content };
  @-moz-keyframes #{$name} { @content };
  @-webkit-keyframes #{$name} { @content }; 
  @-ms-keyframes #{$name} { @content }; 
  @-keyframes #{$name} { @content };
}
@mixin animation-name($name...) {
  -o-animation-name: $name;
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
  -ms-animation-name: $name;
  animation-name: $name;
}
@mixin animation-duration($duration...) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  -ms-animation-duration: $duration;
  animation-duration: $duration;
}
@mixin animation-duration($duration...) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  -ms-animation-duration: $duration;
  animation-duration: $duration;
}
@mixin animation-timing-function($timing...) {
  -o-animation-timing-function: $timing;
  -moz-animation-timing-function: $timing;
  -ms-animation-timing-function: $timing;
  -webkit-animation-timing-function: $timing;
  animation-timing-function: $timing;
}
@mixin animation-iteration-count($count...) {
  -o-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  -ms-animation-iteration-count: $count;
  -webkit-animation-iteration-count: $count;
  animation-iteration-count: $count;
}
@mixin animation-direction($direction...) {
  -o-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -ms-animation-direction: $direction;
  -webkit-animation-direction: $direction;
  animation-direction: $direction;
}
@mixin animation-fill-mode($fill...) {
  -o-animation-fill-mode: $fill;
  -moz-animation-fill-mode: $fill;
  -ms-animation-fill-mode: $fill;
  -webkit-animation-fill-mode: $fill;
  animation-fill-mode: $fill;
}
@mixin animation-play-state($state...) {
  -o-animation-play-state: $state;
  -moz-animation-play-state: $state;
  -ms-animation-play-state: $state;
  -webkit-animation-play-state: $state;
  animation-play-state: $state;
}

@mixin animation-delay($delay...){
  -o-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -ms-animation-delay: $delay;
  -webkit-animation-delay: $delay;
  animation-delay: $delay;
}
@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}