.services {
  background-color: #2B3034;
  li a {
    color: #000;
  } 

  h2 {
    &.category {
      background: $color1;
      padding: 20px 30px;
      a {
        color: #fff;
      }
    }
  }
}
.service-outer {
  padding:0px;
  margin-left: 0px;
  max-width: none;
  left: 0;
  width: auto;
  overflow: hidden;
}
.service-inner {
  padding-left: 0;
  padding-right: 0;
}
.service-image {
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1070px;
}

.service-data-right {
  height: 1070px;
  top: 11vw;
  .container {
  padding-bottom: 0;
  }
}
.page_title {
  padding: 2% 3% 0%;
  h1 
  {
    color: $white;
    font-size: 3.5vw;
    line-height: 1.12;
    letter-spacing: 4px;
    font-weight: 500;
    margin-bottom: 35px; 
    text-transform:uppercase;
  }
}
.services_page_description{
  max-height: 380px;
  margin-top: -5px;
  padding: 0% 9% 0% 12%;
}
.page_description {
  padding: 0% 3% 0%;
  h2 {
  color: $white;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: justify;
  }
  p {
  color: $white;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: justify;
  margin-top: 0px;
  }

}
.services_list {
  color:$white;
  padding: 0% 0% 0% 12%;
  ul {
    li {
      p {
        font-size:16px;
        color:$white;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        strong
        {
          font-weight: 500;
        }
      }
    }
  }
}
.my_service_list
{
  list-style: disc;
  display: list-item;
}


/* Single Services Start */

.single-sericesbg {
  background-color : $services_background_color;
}
.backbutton { 
  margin-bottom: 30px;
  a {
  color:$green;
  font-size: 1.8vw;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-left: 10px;
  }   
}
.services_single_outer {
  top: 15vw;
}
.services_single {
  padding: 6% 11% 0% 14%;
  h1 {
    color: $grey1;
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 40px;
  }
  h2 {
  color:$grey1;
  font-size:1.5vw; 
  line-height: 1;
  padding-bottom: 20px;
  }
}


.single_services_description {
  max-height: 380px;
  p {
  color:$grey1;
  font-size:15px; 
  font-weight: 500; 
  text-align: justify;
  margin-top: 0;
  }
  a
  {
    color: $grey1;
    font-weight: 700;
  }
  ul
  {
    padding-left: 3vw;
    padding-right: 2vw;
    li 
    {
      list-style:disc;
    }
  }
  ol
  {
    li 
    {
    list-style: decimal;
    display: list-item;
    }
  }
}
.single-services-background {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1070px;
}
.single-serviceouter {
  padding:0px;
  margin-left: 0px;
  max-width: none;
  left: 0;
  width: auto;
  overflow: hidden;
}
.single-serviceinner {
  padding-left: 0px;
  padding-right: 0px;
}

.single_services_video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 275px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  width: 520px;
  img 
  {
    height: 275px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 520px;
  }
}

.postid-1080 .single_services_video
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  max-height: 650px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  width: 520px;
  iframe 
  {
    margin-bottom: 35px;
     position: unset;
  }
  img 
  {
    margin-bottom: 35px;
    position: unset;
  }
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(41,43,49,0.8);
}
.services-list-image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 275px;
  position: absolute;
  margin: auto;
}
.services-generic-image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 275px;
  position: absolute;
  margin: auto;
  
}

.page-template-template-services 
{
  .site_logo 
  {
    .st0 {
      fill: $white;
    }
  }
}

.page-template-template-services.intro
{
  .site_logo 
  {
    .st0 {
      fill: $logo_color_grey;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .services_list
    {
      ul 
      {
        li 
        {
          p 
          {
            margin-top: -20px;
          }
        }
      }
    }
 }