
/* COLOR */
$color1								: #6CC04E; /*primary color*/
$color2								: #333333;
$color3								: #999;

$grey								: #e4e4e4;
$white          					: #ffffff;
$black								: #000000;

$success							: #0cd678;
$warning							: #f79d20;
$danger								: #ef3621;
$info								: #4CB1CF;
$green								: #A5BF42;
$open_menu_green					: #94C21F;
$front_green						: #94c11e;
$grey1								: #4C4C4C;
$logo_color_grey					: #464b3e;
$blogpost 							: #2B3034;
/* FONT */
//google font import
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');

$font1 							: 'Roboto', sans-serif;
$font2  						: 'Maven Pro', sans-serif;

/* HEADING */
$h1									: 30px;
$h2									: 24px;
$h3									: 22px;
$h4									: 20px;
$h5									: 18px;
$h6									: 16px;

//login
$login_background_color				: #333;
$login_form_background_color		: #fff;
$login_form_padding					: 60px 60px;
$login_form_top						: 11%;
$login_form_radius					: 10px;
$login_message_background_color		: #fff;
$login_message_text_color			: #333;
$login_message_text_color_out_form	: #fff;


//container
$container_width					: 'medium-10';

/*preloader*/
$overlay_color 						: $color1; 
$preloader_color					: #fff;

/*hamburger*/
$hamburguer_height					: 5px;
$hamburguer_color					: $white;
$hamburger_margin					: 10px;
$hamburger_span_margin				: 10px;
$hamburger_width					: 34px;
$hamburger_transition				: 0.2s;

/*header*/
$sticky_header						: true;

$top_header_activate				: true;
$top_header_color					: #333;
$top_header_hight					: 40px;

$header_bottom_color				: #222;
$header_bottom_opacity				: 1;
$logo_max_width						: 120px;

//menu desktop
$margin_menu_item_desktop   		: 35px;
$menu_item_dektop_color				: $color1;

/*Menu desktop*/
$menu_desktop_color					: $white;
$menu_desktop_color_active			: $color1;

/*Menu responsive*/
$menu_reponsive_width				: 85%;
$menu_reponsive_max_width			: 500px;
$menu_reponsive_margin				: 10px 0;
$menu_reponsive_padding				: 15px;
$menu_reponsive_align				: center;
$menu_reponsive_color				: #fff;

/*Carousel*/
$carousel_height					: 55.6vw;
$carousel_background				: rgba(0,0,0,0.3);

$carousel_control_btn_top			: 35%;
$carousel_control_btn_color			: #fff;
$carousel_control_btn_size			: 40px;
$carousel_control_btn_padding		: 20px;
$carousel_control_btn_background	: rgba(0,0,0,0.2);
$carousel_control_btn_radius		: 0;

$carousel_content_top				: 45%;
$carousel_content_width				: 55%;
$carousel_text_align 				: center;

$carousel_h1_color 					: #000;
$carousel_h1_size					: 4vh;
$carousel_h1_weight					: 100;

$carousel_h2_color 					: #000;
$carousel_h2_size					: 1.7vw;
$carousel_h2_weight					: 100;

$carousel_p_color					: #000;
$carousel_p_size					: 17px;

$carousel_button_color				: $color1;
$carousel_button_text_color			: #fff;
$carousel_button_padding			: 60px;
$carousel_button_radius				: 10px;
$carousel_button_font_size			: 18px;

/*Single Service */

$services_background_color   : #fff;

/*footer*/
$footer_color						: #4c4c4c;
$copyright_color 					: #2a3033;


