.price-details-image-hover{
    display:none;   
}

.equipe-price-details:hover .price-details-image{
    display:none;
}

.equipe-price-details:hover .price-details-image-hover{
    display:inline-block;   
}